In [14]:
import gzip
import pandas as pd
import numpy as np
from numpy import empty

# 1. *Células madre mesenquimales derivadas de adiposas*

Tenemos las matrices de conteos: 
* X_0618: conteos de las células sin reprogramar
* X_IPSC_0618: conteos de las células reprogramadas

Las preprocesamos: 
* Calculamos la matriz traspuesta de cada una -> células son filas y genes son columnas
* Añadimos una nueva columna (la última) Y -> será 0 si las células están sin reprogramar y 1 si están reprogramadas

### 1.1 Células madre embrionarias sin reprogramar

In [8]:
# Cargamos los datos
X_0618 = pd.read_csv("./X_no_reprogramadas.txt",header=None)

In [9]:
X_0618.head()

,0,1,2,3,4,5,6,7,8,9,...,4325,4326,4327,4328,4329,4330,4331,4332,4333,4334
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
X_0618.shape

(32738, 4335)

In [11]:
# Transponemos la matriz de conteos para que las células sean filas y los genes columnas
X_0618 = X_0618.transpose()

In [12]:
X_0618.shape

(4335, 32738)

In [17]:
#Añadimos una nueva columna "Y" la cual será la etiqueta y en este caso tendrá el valor 0 (sin reprogramar)

In [20]:
X_0618["Y"] = 0

In [23]:
X_0618.head()

,0,1,2,3,4,5,6,7,8,9,...,32729,32730,32731,32732,32733,32734,32735,32736,32737,Y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [31]:
#np.savetxt(r'./madre_embrionarias_sin_reprog.txt.gz', X_0618.values, fmt='%d')

### 1.2 Células madre embrionarias reprogramadas

In [24]:
# Cargamos los datos
X_IPSC_0618 = pd.read_csv("./X_reprogramadas.txt",header=None)

In [25]:
X_IPSC_0618.head()

,0,1,2,3,4,5,6,7,8,9,...,18813,18814,18815,18816,18817,18818,18819,18820,18821,18822
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
X_IPSC_0618.shape

(32738, 18823)

In [27]:
# Trasponemos la matriz para tener células en las filas y genes en las columnas
X_IPSC_0618 = X_IPSC_0618.transpose()

In [28]:
X_IPSC_0618["Y"] = 1

In [33]:
#np.savetxt(r'./madre_embrionarias_reprog.txt.gz', X_1117.values, fmt='%d')

MemoryError: Unable to allocate 4.59 GiB for an array with shape (32739, 18823) and data type float64

In [30]:
madre_embrionarias = pd.concat([X_0618, X_IPSC_0618])

MemoryError: Unable to allocate 5.65 GiB for an array with shape (32738, 23158) and data type float64

In [ ]:
#matriz que contiene la matriz de conteos (X) y la etiqueta Y (como variable)
#np.savetxt(r'./madre_embrionarias_adiposas.txt.gz', madre_embrionarias.values, fmt='%d')